header {
  background: white;
  padding: 0;
  border-bottom: 1px solid black;
}

a {
  font-size: 30px;
}

.container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

img {
  width: 120px;
}
